# Extract Testing

In [1]:
%matplotlib inline

In [2]:
import pandas
pandas.set_option('display.max_colwidth', 200)
pandas.set_option('display.max_rows', 5) # limit of 5 rows to show

In [4]:
import datacube
from datacube.storage.masking import mask_invalid_data

In [5]:
dc = datacube.Datacube(app='extract-testing')

In [6]:
products = dc.list_products()
display_columns = ['name', 'description']
products[display_columns]

,name,description
id,,
36,bom_rainfall_grids,Interpolated Rain Gauge Precipitation 1-Day Australia 5km Gridded
32,dsm1sv10,DSM 1sec Version 1.0
...,...,...
46,wofs_albers,Historic Flood Mapping Water Observations from Space
62,wofs_modified_albers2,Historic Flood Mapping Water Observations from Space

In [7]:
display_columns = ['units', 'nodata', 'aliases']

In [8]:
measurements = dc.list_measurements()

In [9]:
measurements[display_columns].loc['ls8_fc_albers']

               units nodata      aliases
measurement
BS           percent     -1       [bare]
PV           percent     -1  [green_veg]
NPV          percent     -1   [dead_veg]
UE                 1     -1        [err]

In [10]:
data = dc.load(product='ls8_fc_albers',
               x=(147.6, 147.85), y=(-41.7, -41.95),
               time=('2017-01-01', '2018-01-01'))
data = mask_invalid_data(data)

In [12]:
data

<xarray.Dataset>
Dimensions:  (time: 23, x: 979, y: 1181)
Coordinates:
  * time     (time) datetime64[ns] 2017-01-07T23:52:29 ...
  * y        (y) float64 -4.64e+06 -4.64e+06 -4.64e+06 -4.64e+06 -4.64e+06 ...
  * x        (x) float64 1.324e+06 1.324e+06 1.324e+06 1.324e+06 1.324e+06 ...
Data variables:
    BS       (time, y, x) float64 28.0 31.0 37.0 48.0 40.0 42.0 39.0 42.0 ...
    PV       (time, y, x) float64 38.0 39.0 40.0 38.0 38.0 39.0 41.0 42.0 ...
    NPV      (time, y, x) float64 33.0 29.0 21.0 13.0 21.0 17.0 19.0 15.0 ...
    UE       (time, y, x) float64 8.0 8.0 7.0 7.0 7.0 8.0 8.0 7.0 6.0 6.0 ...
Attributes:
    crs:      EPSG:3577

In [16]:
datacube.storage.storage.write_dataset_to_netcdf(data, '/home/554/lm4502/fc_test_extract')